/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img.juices_main_page {
	float: right;
	width:50%; 
	height:50%;
	margin: 25px;
}
