/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Juices Description */
img.juices_pictures {
	width:38%; 
	float: left;
}
div.juices_descrition_container {
	width:60%;
	float:right;	
}

div.juices_description_text {
	margin-bottom:5px;
}
div.juices_description_ingredients {
	margin-bottom:0px;
}

/* Connect Container */
div.connect_container {
	margin: auto;
	width:350px; 
	height:1000px;
}
.connect_element {
	width:350px; 
}

hr.custo_hr {
	width:350px; 
	margin-top: 20px;
	margin-bottom:20px;
	margin-left: auto;
	margin-right: auto;	
}


